#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #F4F6F8;
}

.app-container {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.upvote-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 700px;
  gap: 10px;
}

.upvote-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  min-height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
  width: 100%;
  margin-right: 10px;
  overflow: auto;
  list-style: none;
}

.upvote-list.selected li {
  background-color: #E5E8FD;

}

.upvote-list.selected li svg {
  color: #253CF2;
}


.upvote-list li {
  background-color: #F4F6F8;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upvote-list li svg {
  color: #343A40;
}


.upvote-button {
  background-color: #F4F6F8;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
}